:root {
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
}

/* @import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap"); */

html,
body {
  margin: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--Very-Dark-Blue);
}

h1,
h2,
h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  padding: 2em 0 0 2em;
  /* border: 1px solid red; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2em;
  /* border: 1px solid darkcyan; */
}

.menu {
  display: none;
}

.nav-hamburguer {
  cursor: pointer;
}

.menu-mobile {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 5;
  top: 0;
  left: 12vw;
  margin-top: 7em;
  width: 72%;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 1em;

  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-mobile-isOpen {
  display: block;
}

.list {
    padding: 0;
}

.list li {
  list-style-type: none;
  line-height: 2em;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  margin: 1em 0;
}

.gray-container {
  display: inherit;
  align-items: center;
  color: var(--Grayish-Blue);
}

.content {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 4em;
  /* border: 2px dotted orange; */
}

.left,
.right {
  align-items: center;
  /* border: 1px solid dodgerblue; */
}

.new {
  display: flex;
  align-items: center;
  /* border: 1px solid lawngreen; */
}

.new span {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  margin-right: 0.5em;
  padding: 0.1em 0.6em;
  border-radius: 50px;
  color: var(--Light-Grayish-Blue);
  background-color: black;
}

.new p,
.button-preview p {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8em;
  color: var(--Grayish-Blue);
  /* border: 1px solid blue; */
}

.main-header h1 {
  margin-top: 0;
  padding-right: 1em;
  /* border: 1px solid green; */
}

.main-header p {
  padding-right: 3em;
  /* border: 1px solid fuchsia; */
}

.button-preview {
  display: flex;
  align-items: center;
  padding: 0 1em 0 0;
  margin-bottom: 2.5em;
  /* border: 1px solid lawngreen; */
}

.btn {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 10rem;
  height: 2.5em;
  border-radius: 5px;
  border: none;
}

.btn-red {
  color: var(--Light-Grayish-Blue);
  background-color: var(--Red);
  margin-right: 1em;
}

.shadow {
  position: absolute;
  z-index: -1;
  top: -1em;
  right: 0;
  width: 50%;
  height: 28rem;
  border-bottom-left-radius: 40px;
  background-color: var(--Light-Grayish-Blue);
  /* border: 1px solid fuchsia; */
}

.right img {
  position: relative;
  margin-left: -1.3em;
  max-width: 150%;
  margin-bottom: 4em;
  /* border: 1px solid red; */
}

.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  text-decoration: underline dotted;
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: var(--Red);
}

@media screen and (min-width: 500px) {
  .new p,
  .button-preview p {
    font-size: unset;
  }

  .btn {
    font-size: 16px;
    width: 12rem;
    padding: 0em 1em;
  }
  .btn-red {
    margin-right: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 4em 8em;
  }

  .content {
    padding-top: 8em;
  }

  .nav-hamburguer {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .menu-mobile{
      display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    /* border: 1px solid red; */
  }

  .menu a {
    text-decoration: none;
    padding: 0 0 0 3em;
    color: inherit;
  }

  .menu {
    display: flex;
  }

  .dot-main {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }

  .dot {
    border-radius: 50px;
    width: 0.5em;
    height: 0.5em;
    background-color: var(--Grayish-Blue);
    /* border: 1px solid gray; */
  }

  .new p,
  .button-preview p {
    letter-spacing: 5px;
    font-size: unset;
  }

  .main-header h1 {
    font-size: 3rem;
    padding-right: 0;
  }

  .content {
    flex-direction: row;
  }

  .left,
  .right {
    width: 50%;
  }

  .shadow {
    width: 52%;
    height: 26em;
  }

  .right img {
    margin-top: -1em;
    margin-bottom: 5em;
    max-width: unset;
  }

  .main-header p {
    width: 75%;
  }
}

@media screen and (min-width: 1067px) {
  .main-header p {
    width: 70%;
  }
}

@media screen and (min-width: 1108px) {
  .main-header h1 {
    font-size: 3rem;
    padding-right: 1em;
  }
}

@media screen and (min-width: 1123px) {
  .main-header p {
    width: 65%;
  }
}

@media screen and (min-width: 1187px) {
  .main-header p {
    width: 60%;
  }
}

@media screen and (min-width: 1262px) {
  .main-header h1 {
    padding-right: 2em;
  }

  .main-header p {
    width: 55%;
  }
}

@media screen and (min-width: 1350px) {
  .main-header h1 {
    padding-right: 2.5em;
  }

  .main-header p {
    width: 53%;
  }
}

@media screen and (min-width: 1391px) {
  .main-header p {
    width: 50%;
  }

  .main-header h1 {
    padding-right: 3em;
  }
}

@media screen and (min-width: 1440px) {
  .main-header p {
    width: 49%;
  }

  .main-header h1 {
    padding-right: 4em;
  }
}
